/* обнуления */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
 }
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,body {
    height: 100%;
    line-height: 1;
    font-family: 'Roboto', sans-serif;

    /* background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover; */
    
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

body._lock {
    overflow: hidden;
}
/* ------------секция о нас------------- */
.wrapper2 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #000000;
  
}
.section2 {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
  
    align-items: center;
}
.imgPc   {
    box-sizing: border-box;
    width: 526px;
    height: 499px;
    left: 312px;
    top: 1160px;
   padding-top: 6%;
    border: 30px solid #7C6AFA;
   
 
    
}
.toDoWe{
    margin-left: 5%;
}
.page2 {
 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #FFFFFF;
}
.textAboutus{   
    margin-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
}
/* ---------------------------------------------------- */
.section3{
    margin-top: 150px;
}
.page2 img {
    margin-bottom: 0;
    width: 40px;
    height: auto;
}
.page2_info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.5;
}

/* ------------------------rectangle-------------------- */

/* заголовок h4 */
.retangle_info {
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 140%;
        color: #FFFFFF;
       
}
.rectangle-box{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    

    
    

}
.rectangle1{ 
       
        margin: 80px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     

}

.retangle_info  {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    /* margin-bottom: 20px; */
    color: #FFFFFF;
}

.figura-rectangle1{
    width: 100%;
    height: 80px;
   
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    
    
}
.figura-rectangle2{
    width: 100%;
    height: 60px;
  
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    
   
  
}
.figura-rectangle3{
    width: 100%;
    height: 30px;
   
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    
}
.figura-rectangle4{
    width: 100%;
    height: 10px;
   
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.retangle-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    padding-right: 25px;
    color: #FFFFFF;
    opacity: 0.5;
    
}
/*--------главная----------*/
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: url("../img/main-screen.png") center no-repeat;

}
.main {
    flex: 1 1 auto;
}
/* ----------------------------- */
/* .main {
    max-width: 984px;
      
} */
[class*="main"] {
    max-width: 1326px;
  margin:0 100px 0 100px;   
}


.menu_icon {
    overflow: hidden;
 }
 .header_container {
    display: flex;
    min-height: 96px;
    align-items: center;
    justify-content: space-between;
}
.menu-body {
    margin: auto;
   justify-content: center;
}   
/* [class*="_container"] {
    max-width: 1326px;
    margin: 0px auto;
    padding: 0px 15px;
} */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header_container {
    display: flex;
    min-height: 96px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  
}
.menu-item {
    margin-left: 25px;

}

.menu-list {
    display: flex;
    margin-right: 25px;
    flex-wrap: wrap;
    justify-content: center;
    
}


.menu-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #FFFF;
    font-size: 	125%;
    line-height: 150%;
}

.button:hover {
    background: linear-gradient(94.26deg, #ac73ee 9.51%, #3f2db4 90.23%);
    transition: all 0.3s ease 0s;   
}
.first-button {
    display: inline-block;
    border-radius: 50px;
    width: 183px;
    height: 44px;
     
    align-items: center;
    padding: 10px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.order-button {
    display: inline-block;
    border-radius: 50px;
    width: 169px;
    height: 44px;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);

}

/* ---------карточка времени---------- */

.info-time-conteiner {
    margin-top: 150px;

}
.time-to-go {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 500px;
     
  
}

.time_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 102px;
    height: 112px;
    background: #121212;
    border: 1px solid #FFFF;
    border-radius: 5px;
 
}
.number_time {
    width: 42px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
 }

.numder_value {
    width: 47px;
    height: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.4;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
/* ----------заголовок первой страницы------------------------ */
.info-page {
       
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 60;
    font-size: calc(44px + 16 * (100vw / 1280));
    line-height: 140%;
    color: #FFFFFF;
}

/* ------------footer------------------------------- */
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 96px;
    bottom: 0;
    background: #121212;
}
.total-students {
    display: flex;
 
  }
  
  .total-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  
    color: #FFFFFF;
  
    opacity: 0.4;
  }
  
  .total-amount {
    margin-left: 30px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  
    color: #FFFFFF;
  }
  
  .total-money {
   width: 600px;
    
  }
  
  .total-race {
    display: flex;
    margin-bottom: 5px;
  }
  
  .progress {
    width: 80%;
      height: 6px;
      background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  }
  
  .line {
    width: 100%;
    height: 6px;
    background: #FFFFFF;
  }
  
  .money-amount {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: #FFFFFF;
    opacity: 0.4;
  }
/* .infoParticipant {
    justify-content: space-between;
}
.participant  {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.4;
 
}
.numresPractociant {
    
    color: #FFFFFF;
   
}
#myProgress {
    width: 500px;
    background: #FFFFFF;
  }
  
  #myBar {
    width: 60%;
    height: 6px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  }
  .participant3 {
    background: none;
  } */
/* mobile */
@media (max-width: 1056px) {
    .section {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        height: auto;
     
        
    }
    .total-money {
        margin-top: 15px;
        width: 100%;
     
       
    }
}
@media (max-width: 711.98px) {
   /* Гамбургер иконка */
.menu_icon {
	width: 40px;
	height: 40px;
	position: relative;
    padding: auto;
	overflow: hidden;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.menu_icon span {
	width: 30px;
	height: 2px;
	position: absolute;
    font-weight:lighter;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	transition: all 0.5s;
}

.menu_icon span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu_icon span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu_icon.active span:nth-of-type(1) {
  display: none;
}
.menu_icon.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu_icon.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню, которое будет появляться */
.menu-body {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1a1a1ae3;
	transform: translateX(-100%);
	transition: transform 0.5s; 
}

.menu-body.active {
	transform: translateX(0);
}

.menu-body li {
	list-style-type: none;
    padding: 7px;
   
}
.menu-list {
    flex-direction: column;
   
   
} 

.total-money {
 margin-top: 15px;
 margin-bottom: 15px;
   
     
   }
  
/* --------------------------------------------------------- */
   .section {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    height: 136px;
   
}

/* ---------карточка времени---------- */


.info-time-conteiner {
    margin-top: 150px;

}
.time-to-go {
    margin-top: 40px;
    display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    
   
     
  
}


[class*="main"] {
   
  margin:0px 20px 0px 20px;
 
 
}

}

@media (max-width: 460.98px) {
    .time_page {
      
        padding: 15px 25px;
        width:82px;
        height: 92px;
        background: #121212;
        border: 1px solid #FFFF;
        border-radius: 5px;
     
    }
    .number_time {
        width: 32px;
        height: 40px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 140%;
       
     }
    
    .numder_value {
        width: 47px;
        height: 22px;
   
        font-weight: 400;
        font-size: 10px;
        line-height: 120%;
      
      }
      .section {
   justify-self: auto;
   justify-content: center;
   height: auto;
   align-items: center;
    
       
    }
    .info-page{
        font-size: 30px;
    }
    .total-students {
        margin-top: 10px;
        margin-left: 7px;
    }
    .total-amount{
        margin-top: 4px;
        font-size: 14px;
    }
}